html, body {
  width: 100%; /* Устанавливает ширину на 100% */
  height: 100%; /* Устанавливает высоту на 100% */
  overflow: hidden; /* Скрывает переполнение */
  background: #000010; /* Устанавливает фоновый цвет на черный */
}
